@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu+Mono&family=Ubuntu:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font: 1.25em "Ubuntu", sans-serif;
}

.text,
.list li {
  line-height: 1.4;
}

.list {
  list-style-type: none;
}

.list-sublist {
  padding-left: 30px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}

.page-header,
.page-footer {
  color: #ffffff;
  background-color: #00a550;
}

.page-header {
  text-align: center;
}

.page-header__title {
  font: 16vw "Raleway", sans-serif;
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.main-nav {
  height: 30px;
}

.main-nav__item {
  display: inline;
  padding: 0 5px;
}

.main-nav__link,
.page-footer__text {
  font-weight: 300;
  font-size: 0.9em;
}

.main {
  padding: 25px;
}

.about,
.joy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.about-me {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto 2fr;
  gap: 15px 25px;
}

.about-me__img {
  border-radius: 50%;
}

.about-me__title {
  display: flex;
  align-items: center;
}

.about-me__text {
  grid-column: 1 / -1;
}

@media (min-width: 965px) {
  .about-me__img {
    grid-row: 1 / -1;
  }

  .about-me__title {
    display: block;
  }

  .about-me__text {
    grid-column: auto;
  }

  .form__textarea {
    height: 10em;
  }
}

.about-skills__list,
section:not(.about-me) p {
  padding-top: 15px;
}

.about-skills__list li::before {
  padding-right: 10px;
}

.about-skills .list__item::before {
  content: "👉";
}

.about-skills .list-sublist__item::before {
  content: "👌";
}

.about-skills .list__item:last-child::before {
  content: "🤌";
}

.library :is(h2, p) {
  text-align: center;
}

.library__table {
  margin: 20px auto 0;
  border-spacing: 10px;
  border: medium solid #00a550;
}

.library__table th:not(:last-child) {
  text-align: left;
}

.library__table td {
  font-weight: 300;
}

.library__table td:last-child {
  text-align: center;
}

.library__table .link {
  text-decoration: underline dotted;
}

.joy-content__video,
.joy-feedback__form {
  padding-top: 20px;
}

.joy-content__video {
  width: 100%;
  aspect-ratio: 16 / 9;
}

.form__checkbox label,
.form__textarea {
  font-size: 0.8em;
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-family: "Ubuntu Mono", monospace;
  resize: none;
}

.form__textarea::placeholder {
  font: 0.9em "Ubuntu", sans-serif;
}

.form__button {
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding: 18px 18px 17px;
  overflow: hidden;
  font: 0.8em "Ubuntu", sans-serif;
  background-color: #ffffff;
  border: medium solid #00a550;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.form__button span:first-child {
  position: relative;
  z-index: 10;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.form__button span:last-child {
  position: absolute;
  inset: 50% auto 0 50%;
  z-index: 100;
  display: block;
  height: 14px;
  line-height: 1;
  color: #ffffff;
  transform: translateY(225%) translateX(-50%);
  opacity: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
}

.form__button::after {
  content: "";
  position: absolute;
  inset: auto auto -50% 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: #00a550;
  transform: skewY(9.3deg) scaleY(0);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
}

.form__button:hover::after {
  transform: skewY(9.3deg) scaleY(2);
  transform-origin: bottom center;
}

.form__button:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.page-footer {
  display: flex;
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.page-footer__text {
  flex-shrink: 0;
  min-width: 100%;
  padding: 0 15px;
  white-space: nowrap;
}

.marquee {
  animation: marquee 30s ease-in-out infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
