@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Ubuntu:wght@300;400&display=swap');

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font: 1.25em 'Ubuntu', sans-serif;
}

.wrapper {
  min-height: 100vh;
}

.page-header, .page-footer {
  background: #00a550;
}

.page-header h1 {
  color: white;
  font: 16vw 'Raleway', sans-serif; /* да, огромный */
  text-align: center;
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  from, { opacity: 1; }
  to { opacity: 0; }
}

.main {
  margin: 25px;
}

.about {
  padding-bottom: 50px;
}

.image {
  float: left;
}

.userpic {
  position: relative;
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 25px;
}

.userpic img {
  position: absolute;
  transform: translate(20%, 20%) scale(1.5);
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.intro-about {
  margin-bottom: 20px;
}

@media (min-width: 360px) {
  .intro-about__title { padding: 40px 0; }
}

@media (min-width: 392px) {
  .intro-about__title { padding: 57.5px 0; }
}

@media (min-width: 562px) {
  .intro-about__title { padding: 0; }
}

@media (min-width: 707px) {
  .skills { margin-left: 170px; }
}

@media (min-width: 912px) {
  .skills { margin-left: 25px; }
  .intro-about, .skills { float: left; width: 38%; }
}

@media (min-width: 1145px) {  
  .intro-about, .skills { float: left; width: 40%; }
}

.intro-table {
  text-align: center;
}

p {
  padding-top: 15px;
}

.skills__list {
  padding-top: 15px;
  list-style: none;
}

.skills__item::before {
  content: "👉 ";
}

table {
  border-spacing : 10px;
  border-color : #00a550;
  border-style: solid;
  margin: 25px auto 75px;
}

td {
  font-weight: 300;
}

.tbl-vol {
  text-align: center;
}

.tbl-vol a {
  color: black;
  text-decoration: underline dotted;
}

.page-footer {
  height: 50px;
  margin-top: -50px;
  position: relative;
}

.basement {
  color: white;
  padding: 10px;
  height: 100%;
}

.basement span {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding-left: 10px;
  font-weight: 300;
  font-size: 0.9em;
}

.fas {
  font-size: 1.5em;
}